<h1>Invoice</h1>

<p><strong>Order Date:</strong> <%= @order.order_date %></p>
<p><strong>Order Number:</strong> <%= @order.id %></p>

<h2>Order Details</h2>
<%= render partial: "order_details", locals: { order_items: @order_items } %>

<p><strong>Subtotal:</strong> <%= number_to_currency(@subtotal) %></p>
<p><strong>Taxes:</strong> <%= number_to_currency(@total_taxes) %></p>
<p><strong>Total:</strong> <%= number_to_currency(@total) %></p>

<%= link_to "Back to Home", root_path, class: "button" %>
